$content-fontcolor: #333;
$medium-fontcolor: #666;
$notice-fontcolor: #888;
$light-fontcolor: #999;
$highlight-fontcolor: #e93b3b;
$white-fontcolor: #fff;
$search-fontcolor: #b7b7b7;
$search-bgcolor: #f5f5f5;
$content-bgcolor: #f1f1f1;
$btn-bgcolor: #0091ff;
$btn-back-bgcolor: #b6b6b6;
$btn-comfirm-bgcolor: #4FB0F9;
$userinfo-main-color: #262626;